margin: 0;
    padding: 0;
    box-sizing: border-box;
}  

body{
    font-family: 'Montserrat', sans-serif;
}

.history {

    width: 70vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
}


.btn_send {
    margin: 1em 0;
    border: 1px solid purple ;
    background-color: purple;
    color: #fff;
    font-size: 18px;
}
.show_history{
    border: 1px solid purple;
    background-color: purple;
    color: #fff;
    font-size: 18px;
}